 .u-section-1 {
  background-image: url("images/0001_cropped1.jpg");
  background-position: 50% 69.82%;
}

.u-section-1 .u-sheet-1 {
  min-height: 220px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 200px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 103px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 115px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 25px;
}.u-section-3 .u-sheet-1 {
  min-height: 177px;
}

.u-section-3 .u-text-1 {
  margin: 20px 211px 0 229px;
}

.u-section-3 .u-social-icons-1 {
  white-space: nowrap;
  height: 28px;
  min-height: 16px;
  width: 104px;
  min-width: 68px;
  margin: -46px auto 38px;
}

.u-section-3 .u-icon-1 {
  height: 100%;
}

.u-section-3 .u-icon-2 {
  height: 100%;
}

.u-section-3 .u-icon-3 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 129px;
    margin-right: 111px;
  }

  .u-section-3 .u-social-icons-1 {
    margin-top: -52px;
    margin-right: 111px;
    margin-bottom: 44px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 19px;
    margin-right: 1px;
  }

  .u-section-3 .u-social-icons-1 {
    margin-top: -50px;
    margin-right: 0;
    margin-bottom: 42px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-social-icons-1 {
    margin-top: -48px;
    margin-bottom: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 167px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
  }

  .u-section-3 .u-social-icons-1 {
    margin-top: -7px;
    margin-left: 0;
    margin-bottom: 20px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 376px;
}

.u-section-4 .u-text-1 {
  width: 700px;
  margin: 20px auto 91px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 280px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 376px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
  }
}