.u-section-1 .u-sheet-1 {
  min-height: 141px;
}

.u-section-1 .u-text-1 {
  margin: 1px 0 0;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: -50px auto 19px 268px;
}

.u-section-1 .u-icon-1 {
  height: 100%;
  color: rgb(197, 54, 164) !important;
}

.u-section-1 .u-icon-2 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-1 .u-icon-3 {
  height: 100%;
  color: rgb(92, 107, 192) !important;
}

@media (max-width: 1199px) {
  .u-section-1 .u-social-icons-1 {
    margin-bottom: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-social-icons-1 {
    margin-bottom: 19px;
    margin-left: 271px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-social-icons-1 {
    margin-right: 154px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-social-icons-1 {
    height: 16px;
    width: 68px;
    margin-top: -39px;
    margin-right: 0;
    margin-bottom: 38px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 245px;
}

.u-section-2 .u-text-1 {
  margin-bottom: 20px;
  margin-top: 20px;
}