 .u-section-1 {
  background-image: url("images/Plasticlavaa.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 445px;
}

.u-section-1 .u-group-1 {
  min-height: 333px;
  width: 1160px;
  margin: 62px auto 50px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 12.5rem;
  letter-spacing: 40px;
  font-weight: 700;
  margin: 0 30px;
}

.u-section-1 .u-text-2 {
  margin: 13px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 367px;
  }

  .u-section-1 .u-group-1 {
    background-position: 50% 50%;
    width: 940px;
  }

  .u-section-1 .u-text-1 {
    font-size: 9.375rem;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-1 .u-group-1 {
    min-height: 253px;
    margin-bottom: 35px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 263px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 222px;
  }

  .u-section-1 .u-group-1 {
    min-height: 140px;
    margin-bottom: 20px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    letter-spacing: 20px;
    margin-top: 10px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 32px;
    margin-left: 11px;
    margin-right: 11px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1438px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 679px;
}

.u-section-2 .u-container-layout-1 {
  padding: 27px 0;
}

.u-section-2 .u-group-1 {
  min-height: 58px;
  width: 519px;
  margin: 0 26px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 9px auto 0;
}

.u-section-2 .u-gallery-1 {
  height: 450px;
  grid-template-columns: auto auto auto;
  grid-gap: 17px 17px;
  width: 519px;
  margin: 20px auto 0;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-7 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
  margin-right: 0;
}

.u-section-2 .u-back-image-7 {
  object-position: 50% 50%;
}

.u-section-2 .u-over-slide-7 {
  transition-duration: 0.5s;
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-8 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
  margin-right: 0;
}

.u-section-2 .u-back-image-8 {
  object-position: 50% 50%;
}

.u-section-2 .u-over-slide-8 {
  transition-duration: 0.5s;
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-9 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
  margin-right: 0;
}

.u-section-2 .u-over-slide-9 {
  transition-duration: 0.5s;
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-4 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-5 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-6 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-7 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-8 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-9 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 62px;
  height: 62px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 62px;
  height: 62px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 679px;
}

.u-section-2 .u-container-layout-3 {
  padding: 27px 0;
}

.u-section-2 .u-group-2 {
  min-height: 58px;
  width: 519px;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 9px auto 0;
}

.u-section-2 .u-gallery-2 {
  height: 450px;
  grid-template-columns: auto auto auto;
  grid-gap: 17px 17px;
  width: 519px;
  margin: 20px auto 0;
}

.u-section-2 .u-gallery-inner-2 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-2 .u-carousel-item-10 {
  margin-right: 0;
}

.u-section-2 .u-back-image-10 {
  object-position: 50% 4.71%;
}

.u-section-2 .u-over-slide-10 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-11 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-11 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-12 {
  margin-right: 0;
}

.u-section-2 .u-back-image-12 {
  object-position: 50% 20.27%;
}

.u-section-2 .u-over-slide-12 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-13 {
  margin-right: 0;
}

.u-section-2 .u-back-image-13 {
  object-position: 21.18% 50%;
}

.u-section-2 .u-over-slide-13 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-14 {
  margin-right: 0;
}

.u-section-2 .u-back-image-14 {
  object-position: 50% 5.15%;
}

.u-section-2 .u-over-slide-14 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-15 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-15 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-16 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
  margin-right: 0;
}

.u-section-2 .u-back-image-16 {
  object-position: 50% 50%;
}

.u-section-2 .u-over-slide-16 {
  transition-duration: 0.5s;
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-17 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
  margin-right: 0;
}

.u-section-2 .u-back-image-17 {
  object-position: 50% 0%;
}

.u-section-2 .u-over-slide-17 {
  transition-duration: 0.5s;
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-18 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
  margin-right: 0;
}

.u-section-2 .u-back-image-18 {
  object-position: 50% 0%;
}

.u-section-2 .u-over-slide-18 {
  transition-duration: 0.5s;
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-thumbnail-10 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-11 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-12 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-13 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-14 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-15 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-16 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-17 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-18 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-control-3 {
  position: absolute;
  left: 10px;
  width: 62px;
  height: 62px;
  right: auto;
}

.u-section-2 .u-carousel-control-4 {
  position: absolute;
  right: 10px;
  width: 62px;
  height: 62px;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 657px;
}

.u-section-2 .u-container-layout-5 {
  padding: 27px 21px;
}

.u-section-2 .u-group-3 {
  min-height: 58px;
  width: 519px;
  margin: 0 0 0 auto;
}

.u-section-2 .u-container-layout-6 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 9px auto 0;
}

.u-section-2 .u-gallery-3 {
  height: 450px;
  grid-template-columns: auto auto auto;
  grid-gap: 17px 17px;
  width: 519px;
  margin: 20px 0 0 auto;
}

.u-section-2 .u-gallery-inner-3 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-2 .u-carousel-item-19 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-19 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-20 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-20 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-21 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-21 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-22 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-22 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-23 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-23 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-24 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-24 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-25 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
  margin-right: 0;
}

.u-section-2 .u-back-image-25 {
  object-position: 50% 50%;
}

.u-section-2 .u-over-slide-25 {
  transition-duration: 0.5s;
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-26 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
  margin-right: 0;
}

.u-section-2 .u-back-image-26 {
  object-position: 50% 50%;
}

.u-section-2 .u-over-slide-26 {
  transition-duration: 0.5s;
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-27 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
  margin-right: 0;
}

.u-section-2 .u-over-slide-27 {
  transition-duration: 0.5s;
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-thumbnail-19 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-20 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-21 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-22 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-23 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-24 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-25 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-26 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-27 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-control-5 {
  position: absolute;
  left: 10px;
  width: 62px;
  height: 62px;
}

.u-section-2 .u-carousel-control-6 {
  position: absolute;
  right: 10px;
  width: 62px;
  height: 62px;
}

.u-section-2 .u-btn-3 {
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 657px;
}

.u-section-2 .u-container-layout-7 {
  padding: 27px 21px;
}

.u-section-2 .u-group-4 {
  min-height: 58px;
  width: 519px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-8 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: 9px auto 0;
}

.u-section-2 .u-gallery-4 {
  height: 450px;
  grid-template-columns: auto auto auto;
  grid-gap: 17px 17px;
  width: 519px;
  margin: 20px auto 0 0;
}

.u-section-2 .u-gallery-inner-4 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-2 .u-carousel-item-28 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-28 {
  transition-duration: 0.5s;
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-29 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-back-image-29 {
  object-position: 50% 50%;
}

.u-section-2 .u-over-slide-29 {
  transition-duration: 0.5s;
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-30 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-back-image-30 {
  object-position: 50% 50%;
}

.u-section-2 .u-over-slide-30 {
  transition-duration: 0.5s;
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-31 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-31 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-32 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-32 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-33 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-33 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-34 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-34 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-35 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-35 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-36 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-36 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-thumbnail-28 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-29 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-30 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-31 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-32 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-33 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-34 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-35 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-36 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-control-7 {
  position: absolute;
  left: 10px;
  width: 62px;
  height: 62px;
}

.u-section-2 .u-carousel-control-8 {
  position: absolute;
  right: 10px;
  width: 62px;
  height: 62px;
}

.u-section-2 .u-btn-4 {
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: 23px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1216px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 654px;
  }

  .u-section-2 .u-group-1 {
    width: 428px;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-2 .u-gallery-1 {
    width: 428px;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-2 .u-carousel-thumbnail-1 {
    width: 66px;
    height: 66px;
  }

  .u-section-2 .u-carousel-thumbnail-2 {
    width: 66px;
    height: 66px;
  }

  .u-section-2 .u-carousel-thumbnail-3 {
    width: 66px;
    height: 66px;
  }

  .u-section-2 .u-carousel-thumbnail-4 {
    width: 66px;
    height: 66px;
  }

  .u-section-2 .u-carousel-thumbnail-5 {
    width: 66px;
    height: 66px;
  }

  .u-section-2 .u-carousel-thumbnail-6 {
    width: 66px;
    height: 66px;
  }

  .u-section-2 .u-carousel-thumbnail-7 {
    width: 66px;
    height: 66px;
  }

  .u-section-2 .u-carousel-thumbnail-8 {
    width: 66px;
    height: 66px;
  }

  .u-section-2 .u-carousel-thumbnail-9 {
    width: 66px;
    height: 66px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 654px;
  }

  .u-section-2 .u-group-2 {
    width: 428px;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-2 .u-gallery-2 {
    width: 428px;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-2 .u-carousel-thumbnail-10 {
    width: 52px;
    height: 52px;
  }

  .u-section-2 .u-carousel-thumbnail-11 {
    width: 52px;
    height: 52px;
  }

  .u-section-2 .u-carousel-thumbnail-12 {
    width: 52px;
    height: 52px;
  }

  .u-section-2 .u-carousel-thumbnail-13 {
    width: 52px;
    height: 52px;
  }

  .u-section-2 .u-carousel-thumbnail-14 {
    width: 52px;
    height: 52px;
  }

  .u-section-2 .u-carousel-thumbnail-15 {
    width: 52px;
    height: 52px;
  }

  .u-section-2 .u-carousel-thumbnail-16 {
    width: 52px;
    height: 52px;
  }

  .u-section-2 .u-carousel-thumbnail-17 {
    width: 52px;
    height: 52px;
  }

  .u-section-2 .u-carousel-thumbnail-18 {
    width: 52px;
    height: 52px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 654px;
  }

  .u-section-2 .u-group-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-gallery-3 {
    width: 428px;
  }

  .u-section-2 .u-carousel-thumbnail-19 {
    width: 48px;
    height: 48px;
  }

  .u-section-2 .u-carousel-thumbnail-20 {
    width: 48px;
    height: 48px;
  }

  .u-section-2 .u-carousel-thumbnail-21 {
    width: 48px;
    height: 48px;
  }

  .u-section-2 .u-carousel-thumbnail-22 {
    width: 48px;
    height: 48px;
  }

  .u-section-2 .u-carousel-thumbnail-23 {
    width: 48px;
    height: 48px;
  }

  .u-section-2 .u-carousel-thumbnail-24 {
    width: 48px;
    height: 48px;
  }

  .u-section-2 .u-carousel-thumbnail-25 {
    width: 48px;
    height: 48px;
  }

  .u-section-2 .u-carousel-thumbnail-26 {
    width: 48px;
    height: 48px;
  }

  .u-section-2 .u-carousel-thumbnail-27 {
    width: 48px;
    height: 48px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 654px;
  }

  .u-section-2 .u-group-4 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-gallery-4 {
    width: 428px;
  }

  .u-section-2 .u-carousel-thumbnail-28 {
    width: 48px;
    height: 48px;
  }

  .u-section-2 .u-carousel-thumbnail-29 {
    width: 48px;
    height: 48px;
  }

  .u-section-2 .u-carousel-thumbnail-30 {
    width: 48px;
    height: 48px;
  }

  .u-section-2 .u-carousel-thumbnail-31 {
    width: 48px;
    height: 48px;
  }

  .u-section-2 .u-carousel-thumbnail-32 {
    width: 48px;
    height: 48px;
  }

  .u-section-2 .u-carousel-thumbnail-33 {
    width: 48px;
    height: 48px;
  }

  .u-section-2 .u-carousel-thumbnail-34 {
    width: 48px;
    height: 48px;
  }

  .u-section-2 .u-carousel-thumbnail-35 {
    width: 48px;
    height: 48px;
  }

  .u-section-2 .u-carousel-thumbnail-36 {
    width: 48px;
    height: 48px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1530px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 651px;
  }

  .u-section-2 .u-group-1 {
    width: 318px;
  }

  .u-section-2 .u-gallery-1 {
    grid-template-columns: auto auto;
    width: 318px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 651px;
  }

  .u-section-2 .u-group-2 {
    width: 318px;
  }

  .u-section-2 .u-gallery-2 {
    width: 318px;
  }

  .u-section-2 .u-carousel-thumbnail-10 {
    width: 40px;
    height: 40px;
  }

  .u-section-2 .u-carousel-thumbnail-11 {
    width: 40px;
    height: 40px;
  }

  .u-section-2 .u-carousel-thumbnail-12 {
    width: 40px;
    height: 40px;
  }

  .u-section-2 .u-carousel-thumbnail-13 {
    width: 40px;
    height: 40px;
  }

  .u-section-2 .u-carousel-thumbnail-14 {
    width: 40px;
    height: 40px;
  }

  .u-section-2 .u-carousel-thumbnail-15 {
    width: 40px;
    height: 40px;
  }

  .u-section-2 .u-carousel-thumbnail-16 {
    width: 40px;
    height: 40px;
  }

  .u-section-2 .u-carousel-thumbnail-17 {
    width: 40px;
    height: 40px;
  }

  .u-section-2 .u-carousel-thumbnail-18 {
    width: 40px;
    height: 40px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 752px;
  }

  .u-section-2 .u-gallery-3 {
    width: 318px;
  }

  .u-section-2 .u-carousel-thumbnail-19 {
    width: 35px;
    height: 35px;
  }

  .u-section-2 .u-carousel-thumbnail-20 {
    width: 35px;
    height: 35px;
  }

  .u-section-2 .u-carousel-thumbnail-21 {
    width: 35px;
    height: 35px;
  }

  .u-section-2 .u-carousel-thumbnail-22 {
    width: 35px;
    height: 35px;
  }

  .u-section-2 .u-carousel-thumbnail-23 {
    width: 35px;
    height: 35px;
  }

  .u-section-2 .u-carousel-thumbnail-24 {
    width: 35px;
    height: 35px;
  }

  .u-section-2 .u-carousel-thumbnail-25 {
    width: 35px;
    height: 35px;
  }

  .u-section-2 .u-carousel-thumbnail-26 {
    width: 35px;
    height: 35px;
  }

  .u-section-2 .u-carousel-thumbnail-27 {
    width: 35px;
    height: 35px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 752px;
  }

  .u-section-2 .u-gallery-4 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-carousel-thumbnail-28 {
    width: 35px;
    height: 35px;
  }

  .u-section-2 .u-carousel-thumbnail-29 {
    width: 35px;
    height: 35px;
  }

  .u-section-2 .u-carousel-thumbnail-30 {
    width: 35px;
    height: 35px;
  }

  .u-section-2 .u-carousel-thumbnail-31 {
    width: 35px;
    height: 35px;
  }

  .u-section-2 .u-carousel-thumbnail-32 {
    width: 35px;
    height: 35px;
  }

  .u-section-2 .u-carousel-thumbnail-33 {
    width: 35px;
    height: 35px;
  }

  .u-section-2 .u-carousel-thumbnail-34 {
    width: 35px;
    height: 35px;
  }

  .u-section-2 .u-carousel-thumbnail-35 {
    width: 35px;
    height: 35px;
  }

  .u-section-2 .u-carousel-thumbnail-36 {
    width: 35px;
    height: 35px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 470px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 766px;
  }

  .u-section-2 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-gallery-1 {
    grid-template-columns: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-2 .u-carousel-thumbnail-1 {
    width: 60px;
    height: 60px;
  }

  .u-section-2 .u-carousel-thumbnail-2 {
    width: 60px;
    height: 60px;
  }

  .u-section-2 .u-carousel-thumbnail-3 {
    width: 60px;
    height: 60px;
  }

  .u-section-2 .u-carousel-thumbnail-4 {
    width: 60px;
    height: 60px;
  }

  .u-section-2 .u-carousel-thumbnail-5 {
    width: 60px;
    height: 60px;
  }

  .u-section-2 .u-carousel-thumbnail-6 {
    width: 60px;
    height: 60px;
  }

  .u-section-2 .u-carousel-thumbnail-7 {
    width: 60px;
    height: 60px;
  }

  .u-section-2 .u-carousel-thumbnail-8 {
    width: 60px;
    height: 60px;
  }

  .u-section-2 .u-carousel-thumbnail-9 {
    width: 60px;
    height: 60px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 650px;
  }

  .u-section-2 .u-group-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-gallery-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-carousel-thumbnail-10 {
    width: 35px;
    height: 35px;
  }

  .u-section-2 .u-carousel-thumbnail-11 {
    width: 35px;
    height: 35px;
  }

  .u-section-2 .u-carousel-thumbnail-12 {
    width: 35px;
    height: 35px;
  }

  .u-section-2 .u-carousel-thumbnail-13 {
    width: 35px;
    height: 35px;
  }

  .u-section-2 .u-carousel-thumbnail-14 {
    width: 35px;
    height: 35px;
  }

  .u-section-2 .u-carousel-thumbnail-15 {
    width: 35px;
    height: 35px;
  }

  .u-section-2 .u-carousel-thumbnail-16 {
    width: 35px;
    height: 35px;
  }

  .u-section-2 .u-carousel-thumbnail-17 {
    width: 35px;
    height: 35px;
  }

  .u-section-2 .u-carousel-thumbnail-18 {
    width: 35px;
    height: 35px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 651px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-gallery-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2739px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 621px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 16px;
  }

  .u-section-2 .u-carousel-thumbnail-1 {
    width: 35px;
    height: 35px;
  }

  .u-section-2 .u-carousel-thumbnail-2 {
    width: 35px;
    height: 35px;
  }

  .u-section-2 .u-carousel-thumbnail-3 {
    width: 35px;
    height: 35px;
  }

  .u-section-2 .u-carousel-thumbnail-4 {
    width: 35px;
    height: 35px;
  }

  .u-section-2 .u-carousel-thumbnail-5 {
    width: 35px;
    height: 35px;
  }

  .u-section-2 .u-carousel-thumbnail-6 {
    width: 35px;
    height: 35px;
  }

  .u-section-2 .u-carousel-thumbnail-7 {
    width: 35px;
    height: 35px;
  }

  .u-section-2 .u-carousel-thumbnail-8 {
    width: 35px;
    height: 35px;
  }

  .u-section-2 .u-carousel-thumbnail-9 {
    width: 35px;
    height: 35px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 656px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 16px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 16px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 697px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 16px;
  }
}