 .u-section-1 {
  background-image: url("images/Plasticlavaa1.jpg");
  background-position: 50% 100%;
  min-height: 736px;
}

.u-section-1 .u-shape-1 {
  height: 328px;
  width: calc(((100% - 1140px) / 2) + 954px);
  margin: 168px auto 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 847px;
  margin: -339px auto 60px calc(((100% - 1140px) / 2) + 147px);
}

.u-section-1 .u-layout-cell-1 {
  min-height: 350px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  line-height: 1;
  font-weight: 700;
  margin: 26px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  margin: 7px 0 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 3px;
  font-size: 1.25rem;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-weight: normal;
  margin: 48px auto 0 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 606px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 762px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 750px;
    margin-left: calc(((100% - 1140px) / 2) + 195px);
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 540px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 538px);
    margin-top: 166px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 467px;
    margin-top: -328px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.5625rem;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 547px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 538px);
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -321px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 50px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 628px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 341px);
    margin-top: 227px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 50px;
} .u-section-3 {
  background-image: none;
  min-height: 516px;
}

.u-section-3 .u-slider-1 {
  min-height: 466px;
  margin-top: 0;
  margin-bottom: 41px;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-3 .u-image-1 {
  background-image: url("images/DuneC.jpg");
  background-position: 50% 79.48%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  line-height: 2;
  font-size: 1.125rem;
  margin: auto auto 0;
}

.u-section-3 .u-image-2 {
  background-image: url("images/NV-04_Chang.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  line-height: 2;
  font-size: 1.125rem;
  margin: auto auto 0;
}

.u-section-3 .u-image-3 {
  background-image: url("images/Planetia.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-3 .u-text-3 {
  line-height: 2;
  font-size: 1.125rem;
  margin: auto auto 0;
}

.u-section-3 .u-image-4 {
  background-image: url("images/IMG_20200525_004801_803.jpg");
  background-position: 50% 100%;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 50px;
}

.u-section-3 .u-text-4 {
  font-size: 1.125rem;
  line-height: 2;
  background-image: none;
  margin: auto auto 0;
}

.u-section-3 .u-image-5 {
  background-image: url("images/IMG_20180430_150601.jpg");
  background-position: 50% 78.16%;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 50px;
}

.u-section-3 .u-text-5 {
  line-height: 2;
  font-size: 1.125rem;
  margin: -30px -50px 0;
}

.u-section-3 .u-image-6 {
  background-image: url("images/IMG_20180430_151214.jpg");
  background-position: 50% 22.15%;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px 50px;
}

.u-section-3 .u-text-6 {
  line-height: 2;
  font-size: 1.125rem;
  margin: auto auto 0;
}

.u-section-3 .u-carousel-control-1 {
  width: 64px;
  height: 64px;
  background-image: none;
  left: 34px;
  right: auto;
  position: absolute;
}

.u-section-3 .u-carousel-control-2 {
  width: 64px;
  height: 64px;
  left: auto;
  position: absolute;
  background-image: none;
  right: 34px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-slider-1 {
    height: auto;
  }

  .u-section-3 .u-text-5 {
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-3 .u-carousel-control-2 {
    top: 224px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-container-layout-1 {
    padding-right: 55px;
    padding-left: 50px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 55px;
    padding-left: 50px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-slider-1 {
    min-height: 478px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 45px;
    padding-right: 45px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 45px;
    padding-right: 45px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 40px;
    padding-right: 40px;
  }
}