.u-section-1 .u-sheet-1 {
  min-height: 50px;
}.u-section-2 .u-sheet-1 {
  min-height: 89px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 30px auto -361px;
}.u-section-3 .u-sheet-1 {
  min-height: 630px;
}

.u-section-3 .u-gallery-1 {
  height: 550px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.u-section-3 .u-gallery-inner-1 {
  grid-gap: 10px 10px;
  grid-template-columns: auto auto auto;
}

.u-section-3 .u-gallery-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 554px;
  }

  .u-section-3 .u-gallery-1 {
    margin-top: 50px;
    margin-bottom: 50px;
    height: 454px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1143px;
  }

  .u-section-3 .u-gallery-1 {
    margin-bottom: -682px;
    height: 1043px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2427px;
  }

  .u-section-3 .u-gallery-1 {
    margin-top: 30px;
    margin-bottom: -417px;
    height: 2347px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1568px;
  }

  .u-section-3 .u-gallery-1 {
    margin-bottom: -262px;
    height: 1478px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 89px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 30px auto -361px;
}.u-section-5 .u-sheet-1 {
  min-height: 1210px;
}

.u-section-5 .u-gallery-1 {
  height: 1950px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.u-section-5 .u-gallery-inner-1 {
  grid-gap: 10px 10px;
  grid-template-columns: auto auto;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-5 .u-gallery-1 {
    height: 1608px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 4205px;
  }

  .u-section-5 .u-gallery-1 {
    margin-top: -1025px;
    margin-bottom: -1025px;
    height: 4106px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 3160px;
  }

  .u-section-5 .u-gallery-1 {
    margin-top: 30px;
    margin-bottom: -1956px;
    height: 3080px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1576px;
  }

  .u-section-5 .u-gallery-1 {
    margin-bottom: 60px;
    height: 1939px;
  }
}